
body{
  background-color: gray;


}

ul{
  
text-decoration: none;
display: flex;
padding-top: 30px;
padding-bottom: 20px;





}




.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
 background-color: rgba(252 252 252);
 background-size: 100px;
}
li{

margin-inline: 50px;
list-style: none;
font-size: large;
font-weight: 30px;
font-family: Courier;
font-variant-caps: unicase;



}
li :hover{

  transform: scale(1.0);
  background-color: rgb(245, 230, 29);
  border-width: 300px;

}




a{
text-decoration: none;
text-transform: capitalize;
color:rgb(7, 7, 7);
font-size: bolder;


}
section{
  height: 100vh;
  width: 100vh;
  display: flex;
 
  
  width: auto;

}
#section1{
background: linear-gradient(-45deg, white 30%, rgb(58, 58, 4) 0%);


font-family: sans-serif;



}
#section2{
  background: linear-gradient(-45deg, white 30%, rgb(12, 80, 68) 0%);
  }
    
p{
  
  margin-top: 300px;
  margin-left: 300px;

 
}    

h1{

  justify-content: center;

}
#section3{

  justify-content: center;
  align-items: center;

}
#section4{

  justify-content: center;
  align-items: center;


}
#section5{

  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

html{
  scroll-behavior: smooth;
  animation-delay: 3ms;
}

