

body{
  
  background-color: beige;
  background-size: 100%;
  


}

ul{
  
text-decoration: none;
display: flex;
padding-top: 30px;
padding-bottom: 20px;







}


li{

margin-inline: 50px;
list-style: none;
font-family: Arial, Helvetica, sans-serif ;
font-weight: 100000;
;




}
li :hover{
  color: red;

}
section{
  height: 100vh;
  width: 100vh;
  display: flex;
 
  
  width: auto;

}
#section1{
background: linear-gradient(25deg, rgb(202, 2, 2) 30%, rgb(241, 241, 238) 0%);


font-family: sans-serif;



}
#section2{
  background: linear-gradient(25deg, white 30%, rgb(213, 245, 239) 0%);
 

  }
    
  
#section3{

  justify-content: center;
  align-items: center;
  background: linear-gradient(25deg, rgb(148, 141, 141) 30%, rgb(241, 241, 238) 0%);

}
#section4{

  justify-content: center;
  align-items: center;


}
#section5{

  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

html{
  scroll-behavior: smooth;
  animation-delay: 3ms;
  background-size: 100vh;
}

#fonts{

font-weight: bolder;

text-transform: uppercase;
	background: linear-gradient(to right, #1ed1d1 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


  h2{

    padding-top: 300px  ;
    padding-left: 600px;
    justify-content: center;

  

  }
  

  .responsive {
    width: 100%;
    height: auto;
  }
  #fonts:hover{
    background-color: red;

  }
  .responsive{
    width: 190px;
    height: 220px;
    border-radius: 50%;
    margin-right: 30px;
   
    max-width: 100%;
     height: auto;
    

  }
.profiles{
  padding-left: 0px;
  justify-content: center;
  align-items:center ;
  display: block;
  height: auto;

}




