
body{
  background-color: gray;


}

ul{
  
text-decoration: none;
display: flex;
padding-top: 30px;
padding-bottom: 20px;




}




.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
 background-color: rgba(174, 226, 181, 0.418);
}
li{

margin-inline: 50px;
list-style: none;
font-size: large;
font-weight: 30px;
font-family: Arial, Helvetica, sans-serif;
font-variant-caps: unicase;



}
li :hover{

  background-color: rgb(148, 219, 160);
  border-width: 300px;

}



a{
text-decoration: none;
text-transform: capitalize;
color:rgb(66, 158, 194);
font-size: bolder;


}
section{
  height: 100vh;
  width: 100vh;
  display: flex;
 
  
  width: auto;

}
#section1{
background: linear-gradient(-45deg, white 30%, rgb(58, 58, 4) 0%);


font-family: sans-serif;



}
#section2{
  background: linear-gradient(-45deg, white 30%, rgb(12, 80, 68) 0%);
  }
#section3{
background: linear-gradient(-45deg, white 30%, rgb(19, 19, 10) 0%);
} 
#section4{
  background: linear-gradient(-45deg, white 30%, rgb(182, 67, 138) 0%);
  }
  #section5{
    background: linear-gradient(-45deg, white 30%, rgb(8, 119, 14) 0%);
    } 
    
p{
  
  margin-top: 300px;
  margin-left: 300px;

 
}    
